* {
	font-family: Arial;
	font-size: 10pt;
}

#variableManipulation li {
	list-style-type: none;
	margin-bottom: 2px;
}

#variableManipulation input {
	width: 90px;
	text-align: right;
	padding-right: 5px;
}

#variableManipulation label {
	display: inline-block;
	width: 300px;
}

#variableManipulation label.disabled {
	color: #aaaaaa;
	text-decoration: line-through;
}

#variableManipulation label.variableUnit {
	display: inline-block;
	width: auto;
	color: #aaaaaa;
}

#warehouseSelection {
}

#filterSelection {
	background-color: #ff950e;
}

#errorMessages {
	background-color: #00ff00;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

body.loading {
	overflow: hidden;
}

body.loading .modal {
	display: block;
}

.flexigrid div.fbutton .gear {
	background: url("images/database_gear.png") no-repeat scroll left center transparent;
}