* {
	font-family: Arial;
	font-size: 10pt;
}

#variableManipulation li {
	list-style-type: none;
}

#variableManipulation label {
	display: inline-block;
	width: 300px;
}

#filterSelection {
	background-color: #ff950e;
}

#resultTable {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

#resultTable td {
	border-left: 1px solid #ccc;
}

#resultTable .markingColumn {
	text-align: center;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#resultTable .marking20 {
	color: black;
}

#resultTable .marking12 {
	color: #ff0000;
}

#resultTable .marking9 {
	color: #ffff00;
}

#resultTable .marking16 {
	color: #00ff00;
}

#resultTable .articleTableEven {
	background-color: #eee;
}

#resultTable .articleTableOdd {
	background-color: #fff;
}

#resultTable th {
	font-weight: normal;
	border: 1px solid black;
	padding-top: 1em;
}

#errorMessages {
	background-color: #00ff00;
}

.paginationLinks {
	padding: 0px;
	display: inline-block;
}

.paginationLinks a {
	text-decoration:none;
	font-size: 1em;
	font-weight: bold;
}

.paginationLinks li {
	display: inline-block;
	list-style-type: none;
	margin-right: 1em;
	font-size: 3ex;
	font-weight: bold;
}

.paginationLinks .paginatePagenum {
	width: 2em;
	text-align: center;
}

.paginationPagerows {
	display: inline-block;
}

.paginationPagerows .paginationPagerowsCaption {
	text-align: left !important;
}

.paginationPagerows select option {
	text-align: right;
}
